<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extra Credit Challenge</title>
</head>
<body>
<center>
<h1> Extra Credit Challenges </h1>
Challenge for 0.5 points:
Create an algorithm that, given an integer, returns the number of even numbers below said integer that contain a 2 or 8.

<script>document.body.style.backgroundColor =
"#0b1d2a";
document.body.style.color =
"white" ;
</script>
<br/>
<br/>

<input type="number" id="find-two-or-eight" min="0">
<button onclick="find_twos_and_eights()">GO!</button>
    <br/>
    <br/>
    <div id="result-for-find-two-or-right">

    This is the result:
</div>
</center>
<script src="../../../static/js/lindaJs.js"></script>
</body>
</html>