<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extra Credit Challenge</title>
</head>
<body>
<h1> Extra Credit Challenges </h1>
Challenge for 0.5 points:
Create an algorithm that, given an integer, returns the number of even numbers below said integer that contain a 2 or 8.

<br/>
<br/>

<input type="number" id="find-two-or-eight" min="0">
<button onclick="find_twos_and_eights()">GO!</button>
<div id="result-for-find-two-or-right">
    This is the result
</div>

<script src="../../../static/js/challenges.js"></script>
</body>
</html>