
<h1>Linda Liu Individual Labs</h1>
<p>Hello {{name}}, I am Linda Liu!</p>

<form action="/linda" id="linda" method="POST" >
    <label for="name">Enter Your Name</label>
    <input name="name" id="name">
    <input type="submit" value="Go!">
</form>


<br />


<title>
    Change the Background Color
</title>
<script>
    /* script to set background color */
    function geeks() {
        document.body.style.backgroundColor =
            "#778da9";
    }
</script>


<h2>
    Change the Background Color
</h2>

<button type="button" onclick="geeks()">
    Submit
</button>


<br />
<br />

<h2>Mini labs</h2>
<ul>
    <li><a href={{ url_for('onclick') }}>The Onclick Events</a></li>
    <li><a href={{ url_for('quoteGen') }}>Random Quote Generator</a></li>
    <li><a href={{ url_for('message') }}>Pass the Message</a></li>
    <li><a href={{ url_for('picture') }}>Random Picture Generator</a></li>
    <li><a href={{ url_for('challenge') }}>Extra Credit Challenges</a></li>
    <li><a href={{ url_for('lindalogic') }}>Logic Gates Lab</a></li>
</ul>


