{% extends "layouts/base.html" %}
{% block content %}

<center><h1>Linda Liu Individual Labs</h1>
<p>Hello {{name}}, I am Linda Liu!</p>

<form action="/linda" id="linda" method="POST" >
    <label for="name">Enter Your Name</label>
    <input name="name" id="name">
    <input type="submit" value="Go!">
</form>

</center>

<br />

<h2>The onclick Event</h2>

<p>Click the button!</p>

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>

<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hiiiii Have a wonderful rest of your day! :)";
    }
</script>


<br />


<p>Click the button to display the time.</p>

<button onclick="getElementById('demo').innerHTML=Date()">What is the time?</button>

<p id="demo"></p>


<br />


<p onclick="myFunction(this, 'blue')">Click me to change my text color.</p>

<script>
    function myFunction(elmnt,clr) {
        elmnt.style.color = clr;
    }
</script>


<br />


<title>
    Change the Background Color
</title>
<script>
    /* script to set background color */
    function geeks() {
        document.body.style.backgroundColor =
            "#778da9";
    }
</script>


<h2>
    Change the Background Color
</h2>

<button type="button" onclick="geeks()">
    Submit
</button>


<br />

<h2>Mini labs</h2>
<ul>
    <li><a href={{ url_for('quoteGen') }}>Quote Generator</a></li>
    <li><a href={{ url_for('message') }}>Pass the Message</a></li>
</ul>


{% endblock %}

