<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Picture Generator</title>
</head>
<style>
    #board {
        text-decoration: none;
        color: #000;
        background: black;
        display: block;
        height: 500px;
        width: 800px;
        padding: 1em;
        margin: 1em;
        justify-content: center;
    }
    .pictures{
        width: auto;
        height: 500px;
    }
</style>
<body>
<center>
    <br/>
    <br/>

<h1 style="color:#e0e1dd;">Random Picture Generator</h1>


<button onclick="newPicture()"> New Picture</button>

<br/>
    <br/>
    <br/>

<div id="board">
<img id="pictureDisplay" class="pictures" alt=""  src="/static/assets/pictures/{{files}}">
    </div>

    <script>document.body.style.backgroundColor =
        "#0b1d2a"; </script>

<script src="../../../static/js/picGen.js"></script>
</center>
</body>
</html>