<!DOCTYPE html>
<html>
<head>
    <title>Quote Generator</title>
</head>
<style>
    #quoteDisplay {
        text-decoration: none;
        color: #000;
        background: #ffc;
        display: block;
        height: 16em;
        width: 29em;
        padding: 1em;
        margin: 1em;
    }
</style>
<body>
<center>
<h1>Simple Quote Generator</h1>
    <button onclick="newQuote()"> New Quote</button>
    <br/>
    <br/>
    <br/>
    <div id="quoteDisplay">
    <!-- Quotes will display here -->
</div>

    <script>document.body.style.backgroundColor =
        "#0b1d2a";
    document.body.style.color =
        "white" ;</script>

<script src="../../../static/js/lindaJs.js"></script>
</center>
</body>
</html>
