<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/static/css/default.css" type="text/css">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <title>Oompa Loompas</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand">The Oompa Loompas</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href={{ url_for('index') }}>Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Individual Labs <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Linda Long</a></li>
                        <li><a href="#">Sanvi Pal</a></li>
                        <li><a href="#">Alice Tang</a></li>
                        <li><a href="#">Anthony Vo</a></li>
                        <li><a href="#">Ellen Xu</a></li>
                    </ul>
                </li>

            </ul> <!-- end navbar ul -->

        </nav>

        {% block content %}{% endblock %}
    </body>
</html>