{% extends "layouts/base.html" %}
{% block content %}

<h1>Alice Tang Individual Labs</h1>
<p>Hello {{name}}, I'm Alice. Here is some of my work. </p>

<form action="/alice" id="alice" method="POST" >
    <label for="name">Enter Your Name</label>
    <input name="name" id="name">
    <input type="submit" value="Go!">
</form>

<p>________________________________________________________________________________________________________</p>
<br>
<h2>Random Color Generator:</h2> <!-- https://dev.to/akhil_001/generating-random-color-with-single-line-of-js-code-fhj -->

<div class="container">
    <div class="row">
        <div class="col-sm">
            <input type = "button" onclick = "generateRandomColor()" value = "Generate">
        </div>
        <div class="col-sm">
            <canvas id="myCanvas" width=100 height=75 style="border:3px solid  #000000;">
            </canvas>
        </div>
        <div class="col-sm">
            <p id="randcolor"></p>
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div><div class="col">
    </div>
        <div class="col">
        </div>
    </div>
</div>


<script type = "text/javascript">
    function generateRandomColor() {
        var randomColor = '#' + Math.floor(Math.random() * 16777216).toString(16);
        document.getElementById('randcolor').innerHTML = randomColor;
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.fillStyle = randomColor;
        ctx.fillRect(0, 0, 100, 75);
    }
</script>

<p>________________________________________________________________________________________________________</p>
<br>
<h3>Image Manipulation:</h3>

<style>
    .rangeslider{
        width: 50%;
    }
    .myslider {
        -webkit-appearance: none;
        background: #FCF3CF  ;
        width: 50%;
        height: 20px;
        opacity: 2;
    }
    .myslider::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        background: #34495E  ;
        width: 5%;
        height: 20px;
    }
    .myslider:hover {
        opacity: 1;
    }
</style>

<p>Grayscale</p>

<div class="rangeslider">
    <input type="range" min="0" max="100" value="0"
           class="myslider" id="sliderRange">
    <p>Value: <span id="demo"></span></p>
</div>

<script>
    var rangeslider = document.getElementById("sliderRange");
    var output = document.getElementById("demo");
    rangeslider.oninput = function() {
        output.innerHTML = this.value;
        var sliderVal = this.value;
        var grayFilter="grayscale("+sliderVal+"%)";
        for (let r=1; r < 6; r++) {
            myimageid = "myImg"+ r;
            document.getElementById(myimageid).style.filter = grayFilter;
        }
    }

    var imageBlur = 0;
    function blurfilter() {
        if (imageBlur == 0) {
            for (let r=1; r < 6; r++) {
                myimageid = "myImg"+ r;
                document.getElementById(myimageid).style.filter = "blur(2px)";
            }
            imageBlur = 1;
        } else {
            for (let r=1; r < 6; r++) {
                myimageid = "myImg"+ r;
                document.getElementById(myimageid).style.filter = "blur(0px)";
            }
            imageBlur = 0;
        }
    }

    var imageInvert = 0;
    function invertfilter() {
        if (imageInvert == 0) {
            for (let r=1; r < 6; r++) {
                myimageid = "myImg"+ r;
                document.getElementById(myimageid).style.filter = "invert(100%)";
            }
            imageInvert = 1;
        } else {
            for (let r=1; r < 6; r++) {
                myimageid = "myImg"+ r;
                document.getElementById(myimageid).style.filter = "invert(0%)";
            }
            imageInvert = 0;
        }
    }
</script>


<button onclick="blurfilter()">Blur</button>
<button onclick="invertfilter()">Invert</button>
<img src="static/assets/aliceCAT.jpg" id="myImg1"  alt="Alice's cat Luca" width="100" height="100" />
<img src="static/assets/aliceCAT2.jpg" id="myImg2"  alt="Alice's cat Apollo" width="100" height="100" />
<img src="static/assets/aliceCAT3.jpg" id="myImg3"  alt="Alice's cat Apollo" width="100" height="100" />
<img src="static/assets/aliceCAT4.jpg" id="myImg4"  alt="Alice's cats, Luca and Apollo" width="100" height="100" />
<img src="static/assets/aliceCAT5.jpg" id="myImg5"  alt="Alice's cat Luca" width="100" height="100" />
<br>
<br>

<p>________________________________________________________________________________________________________</p>
<br>
<h3>Logic Gates Lab:</h3>

<select id="gate">
    <option value="d"> Please Select</option>
    <option value="1">AND</option>
    <option value="2">OR</option>
    <option value="3">XOR</option>
    <option value="4">NAND</option>
    <option value="5">NOR</option>
    <option value="6">XNOR</option>
</select>

<button id="v1" onclick="toggle('v1')">0</button>
<button id="v2" onclick="toggle('v2')">0</button>
<input id="result">
<input id="note">

<script>

    var list = ["", "AND", "OR", "XOR", "NAND", "NOR", "XNOR"]; // index by 0, 1, 2, ...
    var dict = { // key:value pair
        "AND" : "True: 11",          // "both true to be true"
        "OR"  : "True: 01, 10, 11",  // "at least one true to be true",
        "XOR" : "True: 01, 10",      // "different to be true",
        "NAND": "True: 00, 01, 10",  // "not and - cannot both be true"
        "NOR" : "True: 00",          // "not or - all false to be true"
        "XNOR" : "True: 00, 11",     // "not xor - same to be true"
    };

    function toggle(id) {  // Toggles 0 and 1
        const element = document.getElementById(id);
        if (element.innerHTML == 1) {
            element.innerHTML = 0;
        } else {
            element.innerHTML = 1;
        }
        logic()
    }

    document.getElementById('gate').addEventListener('change', logic);
    // document.getElementById('v1').addEventListener('change', logic);           these 2 not needed bc logic function is run when 01 buttons are toggled
    // document.getElementById('v2').addEventListener('change', logic);

    function logic() {
        var Gate = document.getElementById('gate');
        var V1 = document.getElementById('v1');
        var V2 = document.getElementById('v2');

        var gateValue = Gate.value !== 'd' ? parseInt(Gate.value) : undefined;
        var v1Value = V1.innerHTML == 0 ? false : V1.innerHTML == 1 ? true : undefined;
        var v2Value = V2.innerHTML == 0 ? false : V2.innerHTML == 1 ? true : undefined;

        var result = 'Invalid result';

        if (gateValue !== undefined && gateValue > 0 && gateValue < 7) {
            switch (gateValue) {
                case 1: //AND    both true
                    result = (v1Value && v2Value) ? 'true' : 'false';
                    break;
                case 2: //OR     at least 1 true
                    result = (v1Value || v2Value) ? 'true' : 'false';
                    break;
                case 3: //XOR    different
                    result = ((v1Value && !v2Value) || (!v1Value && v2Value)) ? 'true' : 'false';
                    break;
                case 4: //NAND   cannot both true
                    result = (!(v1Value && v2Value)) ? 'true' : 'false';
                    break;
                case 5: //NOR    cannot any true, 0 true
                    result = (!(v1Value || v2Value)) ? 'true' : 'false';
                    break;
                case 6: //XNOR   same
                    result = (v1Value == v2Value) ? 'true' : 'false';
                    break;
            }
        }
        document.getElementById('result').value = result;
        logicname = list[Gate.value];  //use Gate.value as index to access values in List
        //use logic name as key to access values in dictionary, concatenated string
        document.getElementById('note').value = logicname + " -    "+dict[logicname];
    }
</script>
<br>
<br>
<br>
<br>
    {% endblock %}