{% extends "layouts/base.html" %}
{% block content %}

<h1>Alice Tang Individual Labs</h1>
<p>Hello {{name}}, I'm Alice. Here is some of my work. </p>

<form action="/alice" id="alice" method="POST" >
    <label for="name">Enter Your Name</label>
    <input name="name" id="name">
    <input type="submit" value="Go!">
</form>

<p>________________________________________________________________________________________________________</p>
<br>
<h2>Random Color Generator:</h2>

<input type = "button" onclick = "generateRandomColor()" value = "Generate">

<script type = "text/javascript">
    function generateRandomColor() {
        var randomColor = '#' + Math.floor(Math.random() * 16777215).toString(16);
       /document.body.style.backgroundColor = randomColor;/
        document.getElementById('randcolor').innerHTML = randomColor;
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");
        ctx.fillStyle = randomColor;
        ctx.fillRect(0, 0, 100, 75);
    }
</script>
<p></p>
<p id="randcolor"></p>

<canvas id="myCanvas" width=100 height=75 style="border:3px solid  #000000;">
</canvas>

<p>________________________________________________________________________________________________________</p>
<br>
<h3>Greyscale:</h3>
<br>
<script>
    var imageType = 0; // 0 is color, 1 is gray
    function toggle() {

        if (imageType == 0) {
            document.getElementById("myImg").style.filter= "grayscale(100%)";
            imageType = 1;
        } else {
            document.getElementById("myImg").style.filter= "grayscale(0%)";
            imageType = 0;
        }
    }
</script>

<button onclick="toggle()">Toggle Colors</button>
<img src="static/assets/aliceCAT.jpg" id="myImg"  alt="Alice's cat" width="200" height="211" />
<br />
<br>
<br>
<br>

{% endblock %}