{% extends "layouts/base.html" %}
{% block content %}

<h1>Anthony Vo Individual Labs</h1>
<p>Hi! My name is Anthony Vo. Have a look at some of the things I've worked on!</p>
<br />

<div class="row">
    <button type="button" class="btn btn-outline-light offset-sm-1 col-sm-3" onclick="playAdventure()">Adventure Game</button>
    <button type="button" class="btn btn-outline-light offset-sm-4 col-sm-3" onclick="playHangman()">Hangman Game</button>
</div>

<br />
<br />

<form id="form" method="post">
    <input type="text" name="search" required>
    <input type="submit" value="Search for a term!">
</form>

<p>{{summary}}</p>


<script src="/static/js/anthonyJs.js"></script>

{% endblock %}