{% extends "layouts/base.html" %}
{% block content %}

<style>
    .stickyNote{
        text-decoration:none;
        color:#000;
        background:#ffc;
        display:block;
        height:10em;
        width:10em;
        padding:1em;
        box-shadow: 5px 5px 5px gray;
    }

    .stickyNote{
        margin:1em;
    }
</style>

<h1>Ellen Xu Individual Labs</h1>
<p>Hello {{name}}, I'm Ellen! Check out some of my mini projects below :) </p>

<form action="/ellen" id="ellen" method="POST" >
    <label for="name">Enter Your Name</label>
    <input name="name" id="name">
    <input type="submit" value="Go!">
</form>

<br>
<h2>Sticky Notes</h2>

<form action="/ellen" id="notes" method="POST" >
    <label for="note">Enter Text</label>
    <input name="note" id="note">
    <input type="submit" value="Post It!">
</form>

<input type="button" value="Add" id="add" />
<input type="button" value="Delete" id="del" />

<div id="board">
    <div class="stickyNote">
        <h2>Sticky #1</h2>
        <p>{{note}}</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let $board = $('#board');
    $('#add').click(function () {
        $board.append('<div class="stickyNote" style="left:20px;top:70px"></div>');
    });
</script>

{% endblock %}