{% extends "layouts/base.html" %}
{% block content %}

<style>
    #board {
        text-decoration:none;
        color:#000;
        background:#ffc;
        display:block;
        height:10em;
        width:10em;
        padding:1em;
        box-shadow: 5px 5px 5px gray;
        margin: 1em;
    }

    table, th, td {
        border: 1px solid black;
        width: 50%;
    }
</style>

<h1>Ellen Xu Individual Labs</h1>
<p>Hello {{name}}, I'm Ellen! Check out some of my mini projects below :) </p>

<!-- Name Mini project -->

<form action="/ellen" id="ellen" method="POST" >
    <label for="name">Enter Your Name</label>
    <input name="name" id="name">
    <input type="submit" value="Go!">
</form>

<!-- Sticky Note Mini project -->

<br>
<h2>Sticky Notes</h2>

<form action="/ellen" id="notes" method="POST" >
    <label for="note">Enter Text</label>
    <input name="note" id="note">
    <input type="submit" value="Post It!">
</form>

<input type="button" value="Add" id="add" />
<input type="button" value="Delete" id="del" />

<div id="board">
    <div class="stickyNote">
<!--        <h2>Sticky #1</h2>-->
        <p>{{note}}</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    let $board = $('#board');
    var i = 0;
    $('#add').click(function () {
        i++;
        let class_name = "stickyNote" + i.toString();
        $board.append('<div class={{class_name}}><p>{{note}}</p></div>');
        $('#board').addClass(class_name);
        // document.getElementsByClassName(increment).innerHTML=increment;
    });
    $('#del').click(function () {
        let class_name = "stickyNote" + i.toString();
        let elem = document.getElementsByClassName(class_name);
        elem.parentNode.removeChild(elem);
    });

</script>

<!-- Binary Operations Mini project -->

<br>
<h2>Logic Gate</h2>

<input type="checkbox" id="A" value="A">
<label for="A"> A</label><br>

<input type="checkbox" id="B" value="B">
<label for="B"> B</label><br>

<button id="submit" onclick="logic()">Submit</button>
<br>

<table>
    <tr>
        <th>Logic Gate</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>AND</td>
        <td id="AND">---</td>
    </tr>
    <tr>
        <td>OR</td>
        <td id="OR">---</td>
    </tr>
    <tr>
        <td>XOR</td>
        <td id="XOR">---</td>
    </tr>
</table>
<br>

<script>
    function logic() {
        var A = document.getElementById('A');
        var B = document.getElementById('B');

        var inputA = document.querySelector('input[id=A]');
        var valA = inputA.checked ? true : false;
        var inputB = document.querySelector('input[id=B]');
        var valB = inputB.checked ? true : false;

        document.getElementById('AND').innerHTML = valA && valB ? 'true' : 'false';
        document.getElementById('OR').innerHTML = valA || valB ? 'true' : 'false';
        document.getElementById('XOR').innerHTML = (valA && !valB) || (!valA && valB) ? 'true' : 'false';
    }
</script>

<div id="weather">
    <h3>Weather</h3>
    <div class="forecast">
        <p class="vertical-bottom">
            <button type="button" onclick="fetchForecast()">Fetch</button>
        </p>
    </div>
</div>

<script>
    // Weather API

    function fetchForecast() {
        var endpoint =
            "https://api.openweathermap.org/data/2.5/onecall?lat=32.7157&lon=-117.161087&exclude=current,hourly,minutely,alerts&units=metric&appid=bde9c20de4953a3a0aa8610e01dc1c4e";
        var forecastEl = document.getElementsByClassName("forecast");

        fetch(endpoint)
            .then(function (response) {
                if (200 !== response.status) {
                    console.log(
                        "Looks like there was a problem. Status Code: " + response.status
                    );
                    return;
                }

                forecastEl[0].classList.add('loaded');

                response.json().then(function (data) {
                    var fday = "";
                    data.daily.forEach((value, index) => {
                        if (index > 0) {
                            var dayname = new Date(value.dt * 1000).toLocaleDateString("en", {
                                weekday: "long",
                            });
                            var icon = value.weather[0].icon;
                            var temp = value.temp.day.toFixed(0);
                            fday = `<div class="forecast-day">
						<p>${dayname}</p>
						<p><span class="ico-${icon}" title="${icon}"></span></p>
						<div class="forecast-day--temp">${temp}<sup>°C</sup></div>
					</div>`;
                            forecastEl[0].insertAdjacentHTML('beforeend', fday);
                        }
                    });
                });
            })
            .catch(function (err) {
                console.log("Fetch Error :-S", err);
            });
    };
</script>

{% endblock %}
