{% extends "layouts/base.html" %}
{% block content %}

<center><h1>Linda Liu Individual Labs</h1>
<p>Hello {{name}}, I am Linda Liu!</p>

<form action="/linda" id="linda" method="POST" >
    <label for="name">Enter Your Name</label>
    <input name="name" id="name">
    <input type="submit" value="Go!">
</form>

<!DOCTYPE html>
<html>
<body>
</center>

<h1>The onclick Event</h1>

<p>Click the button!</p>

<button onclick="myFunction()">Click me</button>

<p id="demo"></p>

<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hiiiii Have a wonderful rest of your day! :)";
    }
</script>

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<p>Click the button to display the time.</p>

<button onclick="getElementById('demo').innerHTML=Date()">What is the time?</button>

<p id="demo"></p>

</body>
</html>

<!DOCTYPE html>
<html>
<body>

<p onclick="myFunction(this, 'blue')">Click me to change my text color.</p>

<script>
    function myFunction(elmnt,clr) {
        elmnt.style.color = clr;
    }
</script>

</body>
</html>


{% endblock %}

