:root{
    --color1: whitesmoke;
    --color2: grey;
    --bgColor: #c7fcfa;
    --headerColor: #fbd6b4;
}

html, body{
    margin: 0;
    height: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-color: var(--bgColor);
    color: var(--color1);
}

.content {
    margin: 1em;
}

h1 {
    font-size: 5em;
}

.navbar-custom {
    background-color: var(--headerColor);
}

.navbar a,
.content {
    color: black;
    font-family: "Arial Narrow";
}