:root{
    --color1: whitesmoke;
    --color2: grey;
    --bgColor: #2c2f23;
    --headerColor: #2d2011;
    --navTextColor: #b8ada9;
    --contentTextColor: #b8ada9;
    --galleryColor: #222121;
}

html, body{
    margin: 0;
    height: 100%;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-color: var(--bgColor);
    color: var(--textColor);
}

.content {
    margin: 1em;
}

h1 {
    font-size: 5em;
}

.navbar-custom {
    background-color: var(--headerColor);
}

.navbar a,
.navbar a:hover,
.navbar a:active {
    color: var(--navTextColor);
    font-family: "Palatino, URW Palladio L, serif";
}

.content {
    color: var(--contentTextColor);
    font-family: "Palatino, URW Palladio L, serif";
}

.baseNav {
    background-color: var(--bgColor); 
    color: var(--textColor);;
}

.gallery {
    background-color: var(--galleryColor);
    transform: translateY(10vh);
    height: 50vh;
}