{% extends "layouts/base.html" %}
{% block content %}

<h1>About Us</h1>

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-2 offset-sm-1">
            <img src="https://cdn.discordapp.com/attachments/854037057906278432/883071424309370930/Screen_Shot_2021-09-02_at_12.30.21_PM.png" alt="Anthony's picture" style="width: 200px; height: 200px;" >
            <p style="text-align: center;"> Anthony Vo </p>
        </div>
        <div class="col-sm-2">
            <img src="/static/assets/ellen.jpg" alt="Ellen's picture" style="width: 200px; height: 200px;">
            <p style="text-align: center;"> Ellen Xu </p>
        </div>
        <div class="col-sm-2">
            <img src="/static/assets/alice.jpg" alt="Alice's picture" style="width: 200px; height: 200px;">
            <p style="text-align: center;"> Alice Tang </p>
        </div>
        <div class="row">
        <div class="col-sm-4">
            <img src="/static/assets/linda.jpg" alt="Linda's picture" style="width: 200px; height: 200px;">
            <p style="text-align: center;"> Linda Liu </p>
        </div>
        <div class="col-sm-4">
            <img src="/static/assets/sanvi.jpg" alt="Sanvi's picture" style="width: 200px; height: 200px;">
            <p style="text-align: center;"> Sanvi Pal </p>
        </div>
    </div>
</div>


{% endblock %}