{% extends "layouts/base.html" %}
{% block content %}

<h1>About Us</h1>

<img src="/static/assets/ellen.jpg" alt="Ellen's picture" width = "200" height = "200">
<p> Ellen Xu </p>

<img src="/static/assets/alice.jpg" alt="Alice's picture" width = "200" height = "200">
<p> Alice Tang </p>

<img src="https://cdn.discordapp.com/attachments/854037057906278432/883071424309370930/Screen_Shot_2021-09-02_at_12.30.21_PM.png" alt="Anthony's picture" style="width: 200px; height: 200px;" >
<p> Anthony Vo </p>

<img src="/static/assets/sanvi.jpg" alt="Sanvi's picture" width = "200" height = "200">
<p> Sanvi Pal </p>



{% endblock %}