{% extends "layouts/base.html" %}

{% block meta %}

<style>
  .gallery-image {
    transform: translateY(2vh);
    transition: all .2s ease-in-out;
  }

  .gallery-image:hover {
    transform: scale(1.1);
  }

  .gallery-row {
    transform: translateX(1em);
  }
</style>

{% endblock %}

{% block content %}

<div class="row">
  <h1 style="text-align: center;" id="typewriter">W</h1>

  <div class="col-sm-10 offset-sm-1 gallery container-fluid row center">
    {% for i in range(3) %}
    <div class="row container-fluid" id="gallery-row">
      {% for j in range(3) %}
      <div class="col-sm-4 center">
        <a href="/image/https://image.shutterstock.com/image-photo/wide-panorama-sunset-sky-clouds-260nw-731576737.jpg"><img src="https://image.shutterstock.com/image-photo/wide-panorama-sunset-sky-clouds-260nw-731576737.jpg" class="gallery-image" id="gallery-image{{j + (i%3)*3}}" style="object-fit:cover; object-position: right; width: auto; max-width: 23em; height:20vh; border: solid 1px #CCC"/></a>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>




<script>
var i = 0;
var speed = 50;

function reset() {
    i = 0;
}

function typeWriter(id, text) {
  if (i < text.length) {
    document.getElementById(id).innerHTML += text.charAt(i);
    i++;
    setTimeout(function() {typeWriter(id, text)}, speed);
  }
}

window.onload = function() {
    typeWriter("typewriter", "elcome to our website!");
} 
</script>

{% endblock %}